<div class="goals">
  <div class="goals-yazi">
    <img class="normal" src="assets/bigp.jpeg" alt="image-bipg" />
    <h5>Büyük Resimde Neyi Görüyoruz?</h5>
    <p>
      İnsanoğlu geçmişinde güç ve söz sahipliği yer değiştirse de tabiatın
      dengesinin insanoğlunu işbirliğine zorlayacak şekilde tasarlandığını
      görüyoruz. 2022 başlayan Ukrayna Savaşında, Rusya ile Ukrayna’yı
      destekleyen Batı Bloğu arasında bir yandan mücadele devam ederken öte
      yandan tahıl koridoru ya da doğalgaz konularında anlaşmaların olması bu
      zorlayıcı gücün bir göstergesidir.
    </p>
    <p>
      Enerji verimliliği faaliyetlerimizin hemen hemen her aşamasında bir yandan
      literatür araştırmalarına öte yandan saha çalışmalarına yer verdik. Enerji
      verimliği konusunda araştırma yapan herkesin bakacağı ilk başlıklardan
      birisi enerji tüketimidir. Tüketimin gidişatı ile ilgili fikir sahibi
      olabilmek için mümkün olduğu ölçüde geçmişe dönük verinin analiz edilmesi
      gerekir. Ancak enerji tüketiminin geçmişe dönük verileri sınırlı olduğu
      için verisine daha kolay ulaşılabilen ve enerji tüketimi ile doğrusal
      ilişkiye sahip üretim verilerine bakılabilir. Üretim insan ihtiyacını
      karşılamak için yapılır. Dolayısıyla hem insan sayısının artması hem de
      insanın yeni ihtiyaçlarının ortaya çıkması ya da her ikisi birlikte
      üretimi dolayısıyla enerji tüketimini artırmaktadır. Öyleyse üretim yerine
      kişi başı üretim verisi daha doğru çıkarımlara ulaşmaya yardımcı
      olacaktır. Kullanılan ekonomi hesap yöntemlerine göre kişi başı üretim bir
      noktaya kadar kişi başı geliri de göstermektedir. Küresel kişi başı gelir
      konusunda en fazla başvuru yapılan bilim insanlarından Angus MADDISON'un
      özellikle OECD için 2001 yılında hazırladığı "The World Economy a
      Millennial Perspective” çalışması dikkate alınan önemli bir kaynaktır.
      Oldukça detaylı hazırlanan çalışma sonucunda ulaşılan kişi başı gelirler
      ile birlikte Ajansın elde ettiği güncel verileri bir arada gösteren tablo
      incelendiğinde enerji tüketimi ile ilgili önemli ipuçları elde edilmiştir.
    </p>
    <figure class="snip">
      <img src="assets/gelir-tablosu.png" alt="image-gelir" />
      <figcaption>
        <h4>Kişi Başı Gelir Tablosu</h4>
      </figcaption>
      <a href="assets/gelir-tablosu.png" target="_blank">
      </a>
    </figure>
    <p>
      Üretim/nüfusu gösteren kişi başı gelirin geçmiş değerlerine baktığımızda
      Sanayi Devrimi sonrasında üretimin dolayısıyla enerji tüketiminin nüfustan
      daha hızlı artarak çarpıcı boyutlara geldiğini görüyoruz. Öncesinde
      tükettiği kadar üreten insanoğlu, bilim-teknoloji arasındaki bağı
      kurduktan sonra yalnız ihtiyacını karşılamak için değil aynı zamanda
      satmak için de üretmeye başladığı anlaşılıyor. Ancak üretebilme
      kapasitesinin ulaştığı seviyenin insan sayısındaki artışa kıyasen yüksek
      oluşu söz konusu kapasiteyi değerlendirmede bir sınır getirmiştir.
    </p>
    <figure class="snip2">
      <img src="assets/bir-onceki-donemle-kiyas.png" alt="image-gecmis" />
      <figcaption>
        <h4>Bir Önceki Döneme Kıyasla Artış Miktarı</h4>
      </figcaption>
      <a
      href="assets/bir-onceki-donemle-kiyas.png"
      target="_blank">
      </a>
    </figure>
    <p>
      Günümüz dünyasına hâkim Batılı anlayıştaki çözüm, insan sayısı yeterince
      artmadığına göre insanın ihtiyaçlarını artırmak olmuştur! İnsanoğlunun
      milyonlarca yıllık geçmişinden farklı olarak yalnızca 178 yıl gibi kısa
      süre içerisinde bir insanının ihtiyaçlarını 19 katına çıkaran bu üretim
      anlayışına dünyanın geri kalanı da 23 yıl gibi bir sürede hızla adapte
      olmuş devam etmektedir. Bu noktada altı çizilmesi gereken en önemli nokta,
      Batının bilim ile teknoloji arasında kurduğu köprü sonucu ortaya çıkan
      fırsatı değerlendirmedeki dinamiklerin planlı bir şekilde bir anda
      gelmediği, yaşadığı ve zamanla oluşan sosyal ve kültürel değerleri ile
      kullandığıdır.
    </p>
    <figure class="snip">
      <img src="assets/yillik-artis.png" alt="image-yillik-artis" />
      <figcaption>
        <h4>Yıllık Ortalama Artış Oranı</h4>
      </figcaption>
      <a href="assets/yillik-artis.png" target="_blank">
      </a>
    </figure>
    <p>
      Dünyanın geri kalanının ortaya çıkan ve sonradan fark ettiği fırsatı
      yaşadığı ve zamanla oluşan sosyal ve kültürel değerlerinin verdiği ölçüde
      yalnızca kopyalayarak değerlendirmesi de oldukça doğal bir değişimdir. Bir
      kişinin tüketiminin dönemsel değil de yıllık değişimine bakıldığında,
      geçmişte sıfıra yakın olan günümüzde yıllık %3 seviyeleri dünya geneli
      için dengelenmiş olduğu görülmektedir. Ancak bu dengelenme dünyanın
      dengesini bozdu!
    </p>
    <p>
      Yalnızca iklim ve çevre değil sosyal alanda da herkesin hissettiği bu
      soruna Batı, sayısız toplantı, belge ve araştırmayla desteklediği,
      ulaştığı son nokta Paris Anlaşması olan çözümler ile somut bir sonuç elde
      edememiştir, mümkün de değildir. Çünkü Batının mevcut sorunu yüzlerce
      yılda biriktirdiği değer yargılarının dışında ele alması/görmesi mümkün
      değildir. Bu durum aslında kişisel zamanlarını yalnızca maç izleyerek ya
      da yemek programlarını seyrederek geçiren bir ebeveynin çocuğuna kitap
      okumasını söylemesine benzer. Okumak değerlidir ancak bunun değerli
      olduğunu anlayacak birikimi olan biri okuma eylemi için harekete geçebilir
      ve söylemini destekleyebilir. Eylem ve söylem arasındaki farkın
      oluşturduğu samimiyetsizliği gören ise tavsiyeleri kabul etmez. Çin’in
      çevre ile ilgili uluslararası mutabakatlara mesafeli oluşu doğaya olan
      düşmanlığı ile değil bu fark ile açıklanabilir. Trump’ın yönetime gelmesi
      sonrası, ABD firmalarının üretimlerini ülkeye taşımaya çağırması ile Paris
      Anlaşması’ndan çekilmesi doğaya olan düşmanlık ile açıklanabilecek bir
      durum değil, Çin’in yaklaşımının aynısıdır. Ya da binlerce kameranın
      önünde Merkel’in Trump’ın masasına ellerini koyup ABD’nin Paris
      Anlaşması’ndan çekilmesine tepkisi Merkel’in doğayı çok sevmesiyle
      açıklanamaz. Öyle bir hassasiyet mevcut olsa, 11 Aralık 2019 tarihinde
      açıklanan Avrupa Yeşil Mutabakatı, 14 Temmuz 2021’e kadar, Biden’ın göreve
      geldiği 20 Ocak 2021 tarihinin sonrasını beklemezdi.
    </p>
    <p>
      Osmanlı’nın Sanayi Devrimi’ni ıskaladı şeklindeki yaygın anlayış Batılı
      bakış açısının bir sonucudur. Doktorasını Sanayi Devrimi’nin Osmanlı
      sanayisine etkisi üzerine yapmış, 1973'ten itibaren üzerinde çalıştığı
      Osmanlı ekonomisi alanında uluslararası arenada önde gelen isim Dr. Mehmet
      GENÇ, bu bakış açısının doğru olmadığını ortaya koymaktadır. Yaygın
      kanının aksine Osmanlı gibi bir süper gücün Batıdaki değişimin farkında
      olduğu ancak sanayinin ihtiyaç duyduğu sermaye birikimini Batının yaptığı
      gibi kapitalizm ile sağlamasının mümkün olmadığını belirtmektedir. Çünkü
      Osmanlı’nın kendi ve öncesindeki hiçbir ülkede başarılamamış refahın
      toplum içinden dengeli paylaşımını, bilinçli bir şekilde zengin yaratmama
      politikaları ile desteklemesi özünde eşitsizliğe dayanan kapitalizmle
      taban tabana zıttır.
    </p>
    <p>
      Ajans olarak konuyla ilgili kadim kültürümüzdeki
      <strong>İsraf etme! Cimri olma! Ölçülü ol! Canlıya zarar verme!</strong>
      gibi değer yargılarının, insanlara
      <strong>zarar vermeden kararında tüketmesini </strong>tavsiye ettiğini
      anlıyoruz. Dünya’nın karşı karşıya kaldığı sorunlara, Batılı yaklaşımla
      çözüm gelmeyeceğinin farkındayız. Batı ve doğusu ile dünya bize birlikte
      yaşamamızın yolunu bulmamızı istiyor. Öyleyse karşı karşıya olduğumuz
      mevcut sorunla ilgili olarak Batıyı dışlayarak değil ancak farklı yeni bir
      yaklaşımla çözümün geleceğine inanıyoruz. O zamana kadar yapılabilecek en
      doğru hareketin hâkim anlayışın ortaya koyduğu uluslararası çözümlerden,
      devlet olarak ulusal düzeyde benimsenenleri kendi Bölgemizde en iyi
      şekilde hayata geçirmek olduğu kanaatindeyiz. Bu bakış açısı ile
      geliştirdiğimiz
      <a (click)="gotoTop()" [routerLink]="['/Hikayemiz/Enerji-Verimliliği-Hikayemiz']" id="turkSevLink">TürkSEV</a> Modelinin,
      belirlenen
      <a (click)="gotoTop()" [routerLink]="['/Hedefimiz/Hedeflerimiz']" id="hedeflerimizLink">HEDEFLERİMİZE</a> ulaşmada
      bir başlangıç, tecrübeyle gelişecek bir araç olduğunun farkındayız.
    </p>
  </div>
</div>