<div class="modal" *ngIf="buttons[1].show">
  <!--the final message will be invisible until it is invoked by JavaScript function dynamically-->
  <div class="uzun-haber">
    <span 
    (click)="closeModal2()"
    class="close">&times;</span>
    <p>
      Güney Marmara Kalkınma Ajansı (GMKA)’nın bölgesinde
      <strong>Super Esco</strong> iş modeli ile gerçekleştireceği enerji
      verimliliği yatırımlarına yönelik <strong>50 Milyon TL</strong>’lik
      finansman, Temmuz 2023'te Sanayi ve Teknoloji Bakanlığımız tarafından
      onaylanmıştır. Ajans olarak 2020 yılından bu zamana yürüttüğümüz
      faaliyetlerle birlikte, temin edilen mali kaynağın kullanılmasına yönelik
      genel bilgilere <strong>Super Esco (Yatırım)</strong> sayfasından
      ulaşabilirsiniz. Buna göre, özü itibariyle bir çeşit talep toplama olan
      <strong>Kaynak Çağrısı</strong> ile süreç başlatılacaktır. Eylül ayının
      ilk haftasında planlanan bir lansmanda ilan edilecek Kaynak Çağrısı
      öncesinde <em>süreç yönetimi ile teknik ve mali</em> konulara ilişkin
      çevrimiçi bir toplantı gerçekleştirilecektir.
    </p>
    <p>
      Enerji sektöründe faaliyet gösteriyor olduğunuzdan hareketle, iklim
      değişikliğine bağlı olarak ulusal ve uluslararası düzeyde enerji
      verimliliği kapsamında planlanan yatırım büyüklükleri hakkında detaylı
      bilginizin olduğu değerlendirilmektedir. GMKA’nın tasarladığı Super Esco
      Modeli ile de Türkiye’deki enerji verimliliği yatırımları için farklı
      fırsatlar sunulması hedeflenmiştir. Enerji sektöründe yer alan bir aktör
      olarak, internet sitemizde yer alan bilgilere göre kendiniz ya da
      irtibatta olduğunuz paydaşlarınız için bir fırsat olduğunu
      değerlendiriyorsanız, gerçekleştireceğimiz çevrimiçi toplantıya kayıt
      yaptırmanız ve ilgili olduğunu düşündüğünüz paydaşları kayıt için
      yönlendirmeniz beklenmektedir. Gerçekleştirilecek toplantının kapsam ve
      detayına yönelik katkılarınızı iletebilirsiniz! İnternet sitemizde yer
      alan bilgileri inceleyerek tarafımıza ileteceğiniz sorular ya da konu
      başlığı taleplerinize göre çevrimiçi toplantı içeriği nihai hale
      getirilecektir. Kayıt Yaptırmak ya da Öneri ve Sorularınız için lütfen:
    </p>
    <a
      class="button"
      href="https://www.gmka.gov.tr/superesco-kayit-formu"
      target="_blank"
      ><i class="fa-solid fa-hand-pointer"></i> Tıklayınız</a
    >
  </div>
</div>
