<div class="sub-sec">
  <img src="assets/ihale.jpg" alt="ihale" />
  <h5>EVD Hizmeti Alımı İhale Dokümanları</h5>
  <p>
    Ajansın esnek ve özgün model olarak geliştirdiği programda çift taraflı
    sözleşme yönetim sürecine özel olarak birçok satınalma mevzuatından
    faydalanılarak EVD Hizmet Alımı İhale Dokümanları ve İhaleye Yardımcı
    Dokümanlar hazırlanmıştır. Söz konusu bilgi ve belgenin ihtiyaç halinde
    kullanılabilmesi için tüm dokümanları buradan indirebilirsiniz. Kamuoyunun
    bilgisine arz ederiz.
  </p>
  <a
    class="button"
    href="https://www.gmka.gov.tr/dokumanlar/EVMP/1-EVD-Hizmet-Alimi-ihale-Dokumanlari.rar"
    target="_blank"
    ><i class="fa-solid fa-download"></i> İndiriniz</a
  >
</div>