<div id="social">
  <p>
    EN YEŞİL ENERJİ HİÇ KULLANILMAYAN ENERJİDİR
  </p>
  <div class="icons">
    <a href="https://www.facebook.com/GMKAjansi/" target="_blank" title="Bizi Facebook'ta takip edin"
      ><i class="fab fa-facebook"></i
    ></a>
    <a href="https://www.twitter.com/GMKAjansi/" target="_blank" title="Bizi twitter'da takip edin"
      ><i class="fa-brands fa-square-x-twitter"></i
    ></a>
    <a href="https://www.instagram.com/guzel_marmara/" target="_blank" title="Bizi Instagram'da takip edin"
      ><i class="fab fa-instagram"></i
    ></a>
    <a href="https://www.youtube.com/@GMKATV" target="_blank" title="Bizi YouTube'da takip edin"
      ><i class="fa-brands fa-youtube"></i
    ></a>
    <a
      href="https://www.linkedin.com/company/gmkajansi/mycompany/"
      target="_blank" title="Bizi linkedin'de takip edin"
      ><i class="fa-brands fa-linkedin"></i
    ></a>
  </div>
</div>