<div class="sub-sec">
  <img src="assets/docs.jpg" alt="docs" />
  <h5>Enerji Verimliliği Mentorlük Programı Uygulama Dokümanları</h5>
  <p>
    Kalkınma Ajansları kendi bölgelerine verdikleri hibelerde mevzuat
    çerçevesinde belirlenmiş usul ve dokümanları kullanmaktadırlar. Yine
    mevzuatlarında kendi hibe araçlarını geliştirme imkanı vardır. Enerji
    Verimliliği Mentorlük Programı da mevzuattaki bu imkana dayanarak GMKA
    tarafından enerji verimliliği etütlerine yönelik tasarlanmış bir hibe
    modelidir. Özgün bir model olması sebebiyle uygulama dokümanları da ayrıca
    hazırlanması gerekmiştir. Uygulamada kullanılan dokümanlar şunlardır:
  </p>
  <p>0) Uygulama Çerçevesi,</p>
  <p>1) Yararlanıcı Başvuru Rehberi (Çevrimiçi uygulanmıştır),</p>
  <p>2) Yararlanıcı Destek Sözleşmesi Taslağı ve Ekleri,</p>
  <p>3) Destek Sözleşmesine Davet ve Ajansa Sunulacak Belgeler,</p>
  <p>4) Yararlanıcıya Ön Ödeme Bildirimi,</p>
  <p>5) İzleme Formu(ları),</p>
  <p>6) EVD Hakediş Talep Formu,</p>
  <p>7) Destek Ödemesi Kontrol Listesi,</p>
  <p>8) Yararlanıcıdan Teminat İsteme Resmi Yazı Taslağı,</p>
  <p>9) Yararlanıcıya Teminat Örneği Gönderimi,</p>
  <p>10) Yararlanıcıya Etüt Teslim Tutanağı,</p>
  <p>11) Yararlanıcıya Teminatının İadesi Bildirimi ve</p>
  <p>12) Yararlanıcıya Teminatının İadesi OLUR…</p>
  <p>
    Söz konusu bilgi ve belgenin ihtiyaç halinde kullanılabilmesi için tüm
    dokümanları buradan indirebilirsiniz. Kamuoyunun bilgisine arz ederiz.
  </p>
  <a
    class="button"
    href="https://www.gmka.gov.tr/dokumanlar/diger/Uygulamada-Kullanilan-Dokumanlar.rar"
    target="_blank"
    ><i class="fa-solid fa-download"></i> İndiriniz</a
  >
</div>