<div class="address-sec">
  <div class="address">
    <h2>T.C. Güney Marmara Kalkınma Ajansı</h2>
    <p>
      <i class="fa-solid fa-location-dot"></i>Paşaalanı Mh. A. Gaffar
        Okkan Cd. No: 36/1 Karesi/Balıkesir
    </p>
    <p><i class="fa-solid fa-phone"></i>0266 246 1000</p>
    <p>
      <i class="fa-brands fa-internet-explorer"></i
      ><a class="link" href="http://www.gmka.gov.tr" target="_blank"
          >www.gmka.gov.tr</a
      >
    </p>
    <p>
      <i class="fa-solid fa-at"></i
      ><a href="mailto:gmkaev@gmka.gov.tr">gmkaev@gmka.gov.tr</a>
    </p>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3071.41983809617!2d27.909057975386105!3d39.66276950118365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b7003335aa1351%3A0x36ccf51f32c375b4!2zR8O8bmV5IE1hcm1hcmEgS2Fsa8Sxbm1hIEFqYW5zxLE!5e0!3m2!1str!2str!4v1690962807627!5m2!1str!2str"
        width="600"
        height="400"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</div>