.address-sec {
    height: auto;
    box-shadow: 0 2px 8px 2px rgba(20, 23, 28, .15);
    border-radius: 10px;
    width: 58.5vw;
}

.address {
    height: auto;
    padding: 10px;
}

iframe {
    box-shadow: 0 2px 8px 2px rgba(20, 23, 28, .15);
    margin-top: 10px;
    border-radius: 10px;
    width: 100%;
    height: 22rem;
}

.address h2 {
    color: dimgray;
    margin-bottom: 20px;
    margin-top: 15px;
}

.address p {
    color: dimgray;
    font-size: 1rem;
    margin-bottom: 15px;
}

.address i {
    cursor: default;
    margin-right: 10px;
}

.link {
    text-decoration: none;
    color: black;
}

.link:visited {
    color: black;
}

.link:hover {
    color: crimson;
}

@media only screen and (max-width: 1300px) {
    .address-sec {
        width: 58.35vw;
    }
}

@media only screen and (max-width: 1200px) {
    .address-sec {
        width: 58.2vw;
    }
}

@media only screen and (max-width: 1100px) {
    .address-sec {
        width: 58.05vw;
    }
}

@media only screen and (max-width: 1000px) {
    .address-sec {
        width: 57.9vw;
    }

    .ozel {
        margin-left: 100px;
        margin-right: 100px;
        text-align: center;
        line-height: 1.5;
        font-size: 25px;
    }
}

@media only screen and (max-width: 900px) {
    .address-sec {
        width: 57.75vw;
    }
}

@media only screen and (max-width:  800px) {
    .address-sec {
        width: 100%;
    }
}

@media only screen and (max-width: 505px) {
    .address h2 {
        font-size: 20px;
    }
    
    .address p {
        font-size: 14px;
    }
}

@media only screen and (max-width: 400px) {
    .address {
        padding: 10px;
    }

    .address h2 {
        font-size: 16px;
    }

    .address p {
        font-size: 12px;
    }
}

@media only screen and (max-width: 300px) {
    .address {
        padding: 7px;
    }

    .address h2 {
        font-size: 13px;
    }

    .address p {
        font-size: 10px;
    }
}

@media only screen and (max-width: 260px) {
    .address {
        padding: 3px;
    }

    .address h2 {
        font-size: 10px;
    }

    .address p {
        font-size: 8px;
    }
}