<div class="goals">
  <div class="goals-yazi">
    <img class="normal" src="assets/net-zero.jpg" alt="image-vision" />
    <h5>Hedeflerimiz</h5>
    <p>
      Güney Marmara Kalkınma Ajansı (GMKA) olarak enerji verimliliği
      faaliyetlerimize başladığımız 2020 yılında bu yana, farkındalığımız konuya
      olan perspektifimizin gelişip derinleşmesiyle arttı. Belli bir olgunluğa
      erişen bu farkındalık, gündemimize aldığımız verimliliği faaliyetleri için
      belirlenen amaç ve stratejiler üzerinde etkili olmaya başladı. Büyük
      resimde gördüklerimiz sonucu sahip olduğumuz farkındalık ile çözüm
      neredeyse oraya odaklanıp kendimize, bölgemize, ülkemize ve dünyaya fayda
      sağlama yolunu tercih ediyoruz. Bu noktada ortaya çıkan enerji verimliliği
      vizyonumuz;
    </p>
    <p class="ozel">
      <em
        ><strong
          >“Kadim kültürümüzdeki değerleri unutmadan ulusal hedeflerde yer
          bulmuş uluslararası enerji verimliliği çözümlerini Bölgemiz için
          hayata geçirmek”</strong
        ></em
      >
    </p>
    <figure class="snip">
      <img src="assets/gmka-binasi.jpg" alt="image-gmka" />
      <figcaption>
        <h4>GMKA Binası</h4>
      </figcaption>
      <a href="assets/gmka-binasi.jpg" target="_blank">
      </a>
    </figure>
    <p>
      Türkiye’de kurulan 26 kalkınma ajansı, gerçekleştirdikleri faaliyetler ile
      bölgelerinin sürdürebilir kalkınmasını sağlamaya çalışır. Bunun yanında
      faaliyetlerini gerçekleştirme biçiminde/metodolojisinde de mümkün olduğu
      ölçüde sürdürülebilir süreçleri dikkate alır.
    </p>
    <p>
      Balıkesir ve Çanakkale illerinden oluşan TR22 Güney Marmara Bölgesi’nde
      faaliyet gösteren GMKA, Enerji Verimliliği Yatırım Programı’ndan yatırım
      desteği alacaklar için Enerji Verimliliği Mentorlük Programı’ndan hibe
      desteği alanlara öncelik vererek söz konusu sürdürülebilirliği kurumsal
      düzeyde sağlamaya çalışmıştır.
    </p>
    <figure class="snip2">
      <img src="assets/amaclarimiz.jpg" alt="image-amaclar" />
      <figcaption>
        <h4>Amaçlarımız</h4>
      </figcaption>
      <a href="assets/amaclarimiz.jpg" target="_blank">
      </a>
    </figure>
    <p>
      Enerji verimliliği faaliyetlerimizdeki sürdürülebilir yaklaşımımızla
      <strong
        >mikro (firma), ajans (mezo) ve makro (ulusal) düzeyde hedefler</strong
      >
      gözetilmiştir.
    </p>
    <p>
      Firmalar için bir yandan sürdürülebilir rekabetçi üstünlüklerinde artışı
      öte yandan zorlaşan likiditeye erişimlerini kolaylaştırmaktadır. Modelin
      öngördüğü finans döngüsü, Ajansa yeni yatırım projelerini geliştirilme,
      harcama performansını artırma ve daha odaklı faaliyetlerde bulunabilmeyi
      mümkün kılmaktadır. Pilot bir uygulama olarak ilk etapta Bölgemizde hayat
      bulacak modelin belirli bir başarıyı yakalaması halinde diğer kalkınma
      ajansları da yaygınlaştırılması sayesinde sera gazı salınımı azalması, su
      tüketimi azalması, enerji arz güvenliğinin artması ve mali kaynakların
      sonuç odaklı kullanımı gibi ulusal düzeydeki hedeflere katkı
      sağlayacaktır. Söz konusu amaçlara ulaşmada hedeflerimiz;
    </p>
    <p>
      1. Bölgede enerji verimliliği etüt kültürünün geliştirilmesi, gelişimi
      tetikleyici olarak hibe programları ile desteklenmesi, etüt yaptırmış
      olanların enerji verimliliği yatırımlarında öncelik verilmesi
    </p>
    <p>
      2. Bölgede yapılacak enerji verimliliği yatırımları için sahip olduğu mali
      kaynaklara ek dış kaynakları çekerek finansman olanaklarının artırılması
    </p>
    <p>3. Bölgede enerji verimliliği yatırımlarının artırılması</p>
    <p>
      4. Elde edilen gelir ile Bölge için yeni enerji verimliliği etüt hibe ve
      yatırım programlarının hayata geçirilmesi,
    </p>
    <p>
      5. Pilot uygulama olarak başlayan modelin başarılı olması sonrası diğer
      ajanslara yaygınlaştırması, ortak tecrübeleriyle birlikte geliştirilmesi
      sonucu rol modelden iklim ve çevre ile ilgili belirlenen ulusal hedeflere
      katkı sağlayan bir araç haline getirilmesi
    </p>
  </div>
</div>