<div class="enerji-v-yazi">
  <figure class="snip">
    <img src="assets/gmka-hibe-modeli.jpg" alt="image-ev" />
    <figcaption>
      <h4>Çift Taraflı Sözleşme Yönetim Süreci</h4>
    </figcaption>
    <a
    href="assets/gmka-hibe-modeli.jpg"
    target="_blank">
    </a>
  </figure>  
  <h5>ETÜT HAZIRLAMA (Enerji Verimliliği Mentorluk Programı)</h5>
  <p>
    Güney Marmara Kalkınma Ajansı (GMKA), 2020 yılında tüm Ajanslar için
    belirlenen
    <a class="link" (click)="gotoTop()" [routerLink]="['/Hikayemiz/Kaynak-Verimliliği-Teması']" id="kaynakVerLink3">Kaynak Verimliliği Teması </a>
    çerçevesinde sanayi işletmelerinin üretim miktar ve kalitesinde değişiklik
    olmadan tükettiği enerjinin azaltılması, diğer bir ifade ile enerji
    verimliliğinin sağladığı girdi maliyetlerindeki azalış ile daha az karbon
    salınımı ile çevreye duyarlı rekabetçi üstünlüklerinin artırılmasını
    hedeflemiştir.
    <a class="link" (click)="gotoTop()" [routerLink]="['/Hikayemiz/Enerji-Verimliliği-Hikayemiz']" id="enerjiHikayeLink"
      >Enerji verimliliği hikâyemizin büyük resmini görmek için tıklayınız.
    </a>
  </p>
  <p>
    Bu hedefe ulaşmadaki ilk adım, enerji verimliliği etütlerinin yaptırılması
    olmuştur. Bunun için, GMKA'nın 2021 yılı sonunda ilan ettiği Enerji
    Verimliliği Mentorlük Programı kapsamında verdiği hibe desteği ile
    programdan faydalanan sanayi işletmelerinin detaylı enerji verimliliği
    etütleri Ağustos 2022 – Ağustos 2023 döneminde hazırlanmıştır.
  </p>
  <p>
    GMKA, ilk adım olan enerji verimliliği etütlerinin yaptırılması için özgün
    ve esnek bir hibe programı tasarlamıştır. 31 Aralık 2021 tarihinde
    <a
      class="link"
      href="https://www.sanayi.gov.tr/merkez-birimi/b94224510b7b/hakkimizda"
      target="_blank"
      >Sanayi ve Teknoloji Bakanlığı Kalkınma Ajansları Genel Müdürlüğü (KAGM)
    </a>
    ve
    <a class="link" href="https://enerji.gov.tr/evced" target="_blank"
      >Enerji ve Tabii Kaynaklar Bakanlığı Enerji ve Çevre Dairesi Başkanlığı
      (EVÇED)
    </a>
    ile birlikte ilan ettiği Enerji Verimliliği Mentorlük Programına GMKA’nın
    faaliyet gösterdiği TR22 Güney Marmara Bölgesi (Balıkesir ve Çanakkale)
    sanayi işletmelerinden toplam 41 başvuru yapılmıştır. Yapılan değerlendirme
    sonucu geçerli başvurulara göre ortaya çıkan etüt yaptırma ihtiyacın
    karşılanması için açtığı 2 kategorili (lot) hizmet alımı ihalesinin ikisini
    de EVÇED’in yetkilendirdiği bir EVD olan
    <a class="link" href="https://bestenerji.com.tr/" target="_blank"
      >BEST Enerji Yönetimi ve Danışmanlık Hizmetleri San. ve Tic. Ltd Şti.
    </a>
    kazanmıştır.
  </p>
  <p>
    GMKA, programın tüm taraflarla eşgüdümlü olarak yürütülmesi için destek
    almaya hak kazanan aşağıdaki listede yer alan 16 Yararlanıcı sanayi
    işletmesi ve ihaleyi kazanan EVD şirketi ile 30 Mayıs 2022 tarihinde
    sözleşmeleri imzalamıştır.
  </p>
  <table>
    <thead>
      <tr>
        <th>
          Enerji Verimliliği Mentorlük Programında Hibe Desteği Alarak Etütleri
          Hazırlatılan Firmalar
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>BEKSAN ÇİVİ TEL MAK. İML. SAN. TİC. A.Ş.</td>
      </tr>
      <tr>
        <td>BUPİLİÇ ENTEGRE GIDA SAN. VE TİC. A.Ş.</td>
      </tr>
      <tr>
        <td>CARGİLL GIDA</td>
      </tr>
      <tr>
        <td>DARDANEL ÖNENTAŞ GIDA SAN. A.Ş.</td>
      </tr>
      <tr>
        <td>FER-ÇELİK AMBALAJ LTD. ŞTİ.</td>
      </tr>
      <tr>
        <td>HİDROJEN PEROKSİT SAN. TİC. A.Ş.</td>
      </tr>
      <tr>
        <td>İNTER TEKSTİL AMBALAJ SAN. VE TİC. A.Ş.</td>
      </tr>
      <tr>
        <td>İŞBİR SENTETİK DOKUMA SANAYİ A.Ş.</td>
      </tr>
      <tr>
        <td>KALEMADEN ENDÜSTRİYEL HAMMADDELER SAN. VE TİC. A.Ş.</td>
      </tr>
      <tr>
        <td>KULA YAĞ VE EMEK YEM SANAYİ TİCARET A.Ş.</td>
      </tr>
      <tr>
        <td>LİNDE GAZ A.Ş.</td>
      </tr>
      <tr>
        <td>MEYDERE GIDA SAN. VE TİC. A.Ş.</td>
      </tr>
      <tr>
        <td>SARIBEKİR AMBALAJ SANAYİ VE TİCARET A.Ş.</td>
      </tr>
      <tr>
        <td>TAHSİLDAROĞLU SÜT ÜRÜNLERİ SAN. VE TİC. A.Ş.</td>
      </tr>
      <tr>
        <td>TÜMAD MADENCİLİK A.Ş. (İvrindi)</td>
      </tr>
      <tr>
        <td>TÜMAD MADENCİLİK A.Ş. (Lapseki)</td>
      </tr>
    </tbody>
  </table>
  <p>
    Yararlanıcılarla destek, EVD şirketi ile hizmet alımı sözleşmeleri
    şeklindeki çift taraflı sözleşme uygulama dönemi Ağustos 2022’de
    başlamıştır. GMKA’nın %75 oranındaki desteği ile detaylı enerji verimliliği
    etütlerinin tamamlanması Ağustos 2023’e kadar sürmüştür.
  </p>
  <p>
    Enerji Verimliliği Mentorlük Programına ait detaylı bilgilere aşağıdaki
    İnfografiklerden ulaşabilirsiniz:
  </p>
  <app-infographics></app-infographics>
  <p>
    Enerji Verimliliği Mentorlük Programına ait detaylı faaliyetlere aşağıdaki
    fotoğraflardan ulaşabilirsiniz:
  </p>
  <app-carousel></app-carousel>
  <p>
    2021 yılında ilan edilen Enerji Verimliliği Mentorlük Programı, daha önceki
    kapanmış destek programlarından farklı olarak mevzuatla belirlenmiş
    çerçevenin dışında özgün ve esnek bir model olarak tasarlanmıştır. Bu
    sebeple model ile ilgili ihtiyaç duyulabilecek tüm belge ve görsellere
    aşağıdaki bağlantılardan ulaşılabilir:
  </p>
</div>