<div class="slide">
  <img src="assets/yararlanici-aday.jpg" alt="image-{{buttons[2].id}}" />
  <div class="slide-metin">
    <h5>
      Enerji Verimliliği Yatırımları Programı İlanı Öncesi Yararlanıcı
      Adaylarımıza Yönelik Çağrı
    </h5>
    <p>
      Güney Marmara Kalkınma Ajansı (GMKA), Enerji Verimliliği Yatırımları
      Programı İlan ederek faaliyet gösterdiği Balıkesir ve Çanakkale
      illerindeki sanayi işletmelerinin enerji verimliliği yatırımlarını
      gerçekleştirecektir.
    </p>
    <p>
      GMKA’nın sağladığı yatırım imkânından faydalanmak isteyen yararlanıcı
      adayı firmaların bir an önce etüt sürecini tamamlaması önerilmektedir...
    </p>
    <a (click)="openModal3()">Devamını Oku</a>
  </div>
</div>