<div id="yararlaniciIletisimSection" class="esco-sec">
    <div class="esco">
      <h2>
        Enerji Verimliliği Yatırımları Programı İlanı Öncesi Yararlanıcı
        Adaylarının Yapabileceği Hazırlıklar
      </h2>
      <p>
        Güney Marmara Kalkınma Ajansı (GMKA), detaylı enerji verimliliği
        etütlerinin hazırlanması ve enerji verimliliği yatırımlarının
        yapılması ile ilgili olarak 2020 yılından bu yana faaliyetlerine
        devam etmektedir. 
        <a
        class="link"
        href="https://www.sanayi.gov.tr/merkez-birimi/b94224510b7b/hakkimizda"
        target="_blank"
        >Sanayi ve Teknoloji Bakanlığı Kalkınma Ajansları Genel
        Müdürlüğü (KAGM)</a
      >' nün 13.07.2023 tarihinde
        Uygulama Çerçevesine verdiği onay ile birlikte GMKA’ya enerji
        verimliliği yatırımlarını yapması için <strong>50 Milyon TL</strong> finansman
        sağlamıştır. Ancak Ajans yatırım süreçlerini geçmiş yıllarda
        verdiği hibe desteklerinden farklı bir model ile uygulayacaktır.
        Bu modele göre öncelikle yapılacak yatırımlara kendisi ile
        birlikte finansman sağlayacak Esco ortağını belirleyecek,
        ardından Enerji Verimliliği Yatırımları Programı İlan ederek
        faaliyet gösterdiği Balıkesir ve Çanakkale illerindeki sanayi
        işletmelerinin enerji verimliliği yatırımlarını
        gerçekleştirecektir. Dolayısıyla Ajansın sağladığı finansmanın
        yanında Balıkesir ve Çanakkale illeri için ek bir finansman
        kaynağı sağlanmış olacaktır. 
        <a
        class="link"
        (click)="gotoTop()" [routerLink]="['/Hikayemiz/Super-Esco-Yatırım']"
        id="superEscoLink2"
        >Yatırım sürecine yönelik detaylı
        bilgileri görmek için tıklayınız.</a
      >
        İlan edilecek <strong>yatırım
          programına</strong> başvurabilme ön koşulları şunlardır:
      </p>
      <p>
        1) TR22 Güney Marmara Bölgesi’nde ticaret ve/veya sanayi odasına
        bağlı olarak faaliyet gösteren, her türlü mal üretimi yapan ve
        imalat sektöründe faaliyet gösteren endüstriyel işletme olmak.
      </p>
      <p>
        2) Ajansın Enerji Verimliliği Mentorlük Programı kapsamında
        yaptırdığı nitelik ve kalitede detaylı enerji verimliliği
        etüdüne sahip olmak.
      </p>
      <p>
        Söz konusu ön koşulları Ajansın 2021 yılında ilan ettiği Enerji
        Verimliliği Mentorlük Programında hibe desteği alan firmalar
        doğrudan sağlamış olmaktadır. 
        <a
        class="link"
        (click)="gotoTop()" [routerLink]="['/Hikayemiz/Enerji-Verimliliği-Mentorluk-Programı']"
        id="enerjiVerLink3"
        >Detaylı enerji verimliliği
        etütlerinin hazırlanması için hibe desteği alan firmalar ve
        bunlarla birlikte yürütülen süreçleri görmek için tıklayınız.</a
      >
        Bu
        firmalarımızın ilan edilecek yatırım programına yönelik
        yapabilecekleri en önemli hazırlık ellerindeki etüt raporlarında
        yer alan proje önerileri için diğer kamu kurum ya da
        kuruluşların hibe, teşvik ya da benzeri fırsatlarına
        başvurmalarıdır. Bu noktada özellikle EVÇED Verimlilik Artırıcı
        Proje (VAP) programına yönelik Ajansın EVÇED ile olan işbirliği
        sonucu avantajı değerlendirmeleri önerilmemektedir.  
        <a class="link" 
        (click)="gotoTop()" [routerLink]="['/Hikayemiz/Enerji-Verimliliği-Hikayemiz']" 
        id="turkSevLink3">
          Açıklanan işbirliği detaylarını görmek için tıklayınız.
        </a
        >Yatırım programı
        ilan edildiğinde bu listedeki firmalardan açıklandığı gibi diğer
        kamu kurum ya da kuruluşların hibe ya da benzeri teşviklerden
        yararlanması kabul edilenler daha yüksek öncelikli olarak
        değerlendirileceklerdir. Dolayısıyla bir yandan diğer kamu kurum
        ya da kuruluşların hibe ya da benzeri teşviklerinden
        yararlanırken öte yandan yapılacak yatırımı Ajansa yaptırma
        şansları olacaktır. Enerji Verimliliği Mentorlük Programından
        faydalanan firmalarımızın yatırıma ilişkin tüm soru ve cevapları
        kendilerinde iletişim bilgileri olan projelerinden sorumlu
        uzamını tarafından cevaplanacaktır.
      </p>
      <p>
        Enerji Verimliliği Mentorlük Programından faydalanmamış birinci
        koşula haiz firmalar, Ajansın beklediği nitelik ve kalitede
        detaylı enerji verimliliği etütlerini yaptırmışlarsa ya da
        yaptırırlarsa Ajansın hazırlıklarına başladığı enerji
        verimliliği yatırımından faydalanabilirler. Burada <strong>nitelik ile
          kastedilen</strong>, söz konusu etüdün Enerji ve Tabii Kaynaklar
        Bakanlığı Enerji ve Çevre Dairesi Başkanlığının (EVÇED) resmi
        olarak SANAYİ sektöründe yetkilendirdiği resmi internet
        sitesinde yayınlanan listedeki
        <a class="link" href="https://evcedyetkilendirme.enerji.gov.tr/verimlilik/y_yetki_b_a_d_sirketler.aspx" target="_blank"
          >(listeye ulaşmak tıklayınız)
        </a>  bir
        EVD firmasına yaptırılmış olmasıdır. <strong>Kalite ile kastedilen</strong> ise
        en az Ajansın hibe vererek yaptırdığı kalitede içeriğe sahip bir
        etüt olmasıdır. Söz konusu kalite, Ajansın yatırım sürecindeki
        Esco ortağı tarafından değerlendirilecek olup yetersiz
        bulunanlara tekrar düzeltme imkânı verilecektir. Dolayısıyla
        GMKA’nın sağladığı yatırım imkânından faydalanmak isteyen bu
        firmaların bir an önce etüt sürecini tamamlaması önerilmektedir.
        Bunun üzerinde daha yüksek öncelik elde edebilmek için yukarda
        Mentorlük Programında hibe desteği alan firmalar için açıklanan
        diğer kamu kurum ya da kuruluşların hibe ya da benzeri teşvik
        süreçlerini tamamlamaları önerilmektedir. Mentorlük Programından
        faydalanmamış diğer firmalarımızın yatırıma ilişkin tüm soru ve
        cevapları için öncelikle bu sayfadan bağlantı (link) verilen
        diğer sayfalardaki açıklamaları incelemeleri beklenmektedir.
        İncelemeyi yapmış olmanıza rağmen hâlâ sorunuz varsa lütfen:
        <a class="button" href="https://www.gmka.gov.tr/superescoyararlanici-soru-formu" target="_blank"><i class="fa-solid fa-hand-pointer"></i> Tıklayınız</a>
      </p>
    </div>
</div>