<nav class="contact-main-nav">
    <ul>
      <li>
        <a [routerLinkActive]="['active']" [routerLink]="['Adres-Bilgileri']" class="contact-main-nav-btn">
          <i class="fa-solid fa-map-location-dot"></i>Adres Bilgileri
        </a>
      </li>
      <li>
        <a [routerLinkActive]="['active']" [routerLink]="['Esco-Iletisim']" class="contact-main-nav-btn">
          <i class="fa-solid fa-list-check"></i>Esco İletişim
        </a>
      </li>
      <li>
        <a [routerLinkActive]="['active']" [routerLink]="['Yararlanıcı-Iletisim']" class="contact-main-nav-btn">
          <i class="fa-solid fa-circle-question"></i>Yararlanıcı
        İletişim
        </a>
      </li>
    </ul>
</nav>