<div id="kaynakVer" class="kaynak">
  <img src="assets/kaynak-verimliligi.png" alt="image-kv" />
  <h5>
    Sanayi ve Teknoloji Bakanlığı'nın 2020 ve 2021 Kalkınma Ajansları Temasını
    "Kaynak Verimliliği" olarak Belirlemesi
  </h5>
  <p>
    KAGM tarafından 2020 yılında tüm ajanslar için belirlenen tema
    <strong>“Kaynak Verimliliği”</strong> olmuştur.
  </p>
  <p>
    İklim değişikliği ve çevre konusunda uluslararası camiada değişen paradigma,
    ulusal politikalarımızı etkilemiş olup bu bağlamda
    <a
      class="link"
      href="https://www.resmigazete.gov.tr/eskiler/2021/07/20210716-8.pdf"
      target="_blank"
      >16 Temmuz 2021 tarih ve 31543 sayılı resmi gazetede yayınlanan
      Cumhurbaşkanlığı Genelgesi</a
    >
    ile fiili olarak hayata geçirilen
    <a
      class="link"
      href="https://ticaret.gov.tr/data/60f1200013b876eb28421b23/MUTABAKAT%20YE%C5%9E%C4%B0L.pdf"
      target="_blank"
      >Ulusal Yeşil Mutabakat Eylem Planı</a
    >
    kapsamında tüm kalkınma ajanslarının faaliyet gösterdikleri bölgelerde yeşil
    ve döngüsel ekonomi için “Kaynak Verimliliği” çalışmalarını 2021 yılının IV.
    çeyreğinde başlatması beklenmiştir.
  </p>
  <p>
    Güney Marmara Kalkınma Ajansı (GMKA), Kaynak Verimliliği teması kapsamında
    Balıkesir ve Çanakkale illerinden oluşan TR22 Güney Marmara Bölgesinde
    enerji verimliliği faaliyetlerine başlamıştır.
  </p>
</div>
