<div class="sub-sec">
  <img
    src="assets/gmka-hibe-modeli.jpg"
    alt="hibe-modeli"
  />
  <h5>Enerji Verimliliği Mentorlük Programı Uygulama Basamakları</h5>
  <p>
    Çift taraflı sözleşme yönetimi ile gerçekleşen Enerji Verimliliği Mentorlük
    Programı uygulama basamaklarını görmek için:
  </p>
  <a
    class="button"
    href="https://www.gmka.gov.tr/dokumanlar/EVMP/2-Mentorluk-Programi-Uygulama-Basamaklari.ppsx"
    target="_blank"
    ><i class="fa-solid fa-download"></i> İndiriniz</a
  >
</div>