<nav class="phases-main-nav">
  <ul>
    <li>
      <a [routerLinkActive]="['active']" [routerLink]="['/Hikayemiz/Enerji-Verimliliği-Hikayemiz']" class="phases-main-nav-btn">
        <i class="fa-solid fa-heart-pulse"></i>Enerji Verimliliği Hikayemiz
      </a>
    </li>
    <li>
      <a [routerLinkActive]="['active']" [routerLink]="['/Hikayemiz/Kaynak-Verimliliği-Teması']" class="phases-main-nav-btn">
        <i class="fa-solid fa-recycle"></i>Kaynak Verimliliği Teması
      </a>
    </li>
    <li>
      <a [routerLinkActive]="['active']" [routerLink]="['/Hikayemiz/Enerji-Verimliliği-Mentorluk-Programı']" class="phases-main-nav-btn third">
        <i class="fa-solid fa-hand-holding-heart"></i>Enerji Verimliliği
        Mentorluk Programı
      </a>
    </li>
    <li>
      <a [routerLinkActive]="['active']" [routerLink]="['Super-Esco-Yatırım']" class="phases-main-nav-btn">
        <i class="fa-solid fa-hand-holding-dollar"></i>Super Esco (Yatırım)
      </a>
    </li>
  </ul>
</nav>
