
<div class="modal" [ngClass]="{'active':buttons[0].show === true}">		
  <div class="uzun-haber">
    <span title="Kapat"
    (click)="closeModal1()"
    class="close">&times;</span>
    <p>
      Güney Marmara Kalkınma Ajansı (GMKA) Balıkesir ve Çanakkale
      illerinde “Kaynak Verimliliği” teması kapsamında, enerji
      verimliliği konusunda kapasite geliştirmek isteyen firmalar için
      yatırıma yönelik büyük adımları atmaya başlıyor.
    </p>
    <p>
      GMKA, enerji verimliliği etütlerinin yaptırılması ile başladığı
      sürecin sürdürülebilirliğini sağlayacak, kamu-özel sektör
      işbirliğine dayanan ve özellikle gelişmekte olan ülkeler için
      önerilen “Super Esco” iş modelinin enerji verimliliği
      yatırımlarında kullanılmasının önünü açıyor.
    </p>
    <p>
      GMKA, Sanayi ve Teknoloji Bakanlığı, Kalkınma Ajansları Genel Müdürlüğü
      (KAGM) koordinasyonunda 2020 yılı için belirlenen Kaynak
      Verimliliği temasına yönelik olarak çalışmalarına başlayarak bölgedeki
      sanayi işletmelerinin yeşil ve döngüsel ekonomi kapsamında çevreye
      duyarlı rekabetçi üstünlüklerinin artırılması hedefi ile Enerji
      Verimliliği Mentorluk Programını kurgulamış ve uygulamaya başlamıştır. Program kapsamında
      verilen hibe desteği ile işletmelerin detaylı enerji
      verimliliği etütleri hazırlanmış olup Enerji ve Tabii Kaynaklar
      Bakanlığı, Enerji ve Çevre Dairesi Başkanlığı (EVÇED) desteklerine yönelik işbirliği yapılmaktadır. 
      Buna göre EVÇED’in yürüttüğü “Verimlilik Artıcı Proje (VAP)” programına yalnızca Enerji Verimliliği Mentorluk Programı’ndan faydalanarak etütlerini yaptıran sanayi işletmelerinin başvuruları kabul edilmektedir. Sağlanan işbirliği ile EVÇED’in ulusal
      düzeyde yürüttüğü VAP programı, 2023 yılında TR22 Güney Marmara
      Bölgesi sanayi işletmeleri için bölgesel düzeyde yürüttüğü bir
      program niteliği kazanmıştır.
    </p>
    <h4>GMKA, Yatırım İçin Türkiye’ye Özgün Bir İş Modeli Tasarladı</h4>
    <p>
      KAGM, 2022 yılında yeni bir bakış açısı ile kalkınma ajanslarını gelir getirici pilot
      program ve yatırım fikirleri geliştirmeleri için yönlendirmiştir. GMKA,
      2020-2022 yılları arasında Enerji Verimliliği Mentorluk Programı
      kapsamında geliştirdiği kapasiteyle KAGM’nin ortaya koyduğu inisiyatif
      doğrultusunda çalışmalara başlamıştır. Bunun için Mentorluk
      Programı’nda yaptığı mevzuat ve araştırma raporu gibi literatür
      incelemelerine ek olarak ulusal ve uluslarası toplam 27 doküman
      incelemiştir. GMKA, enerji verimliliği yatırımları ile ilgili elde
      ettiği bu teorik bilginin Türkiye şartlarında ne kadar geçerli
      olduğunu görmek için saha çalışmalarına yönelmiştir. Çevrim içi
      toplantılar hariç ilk yıl yaklaşık 13, ikinci yıl 17 olmak üzere
      toplam 30 görüşmede konunun uzmanı onlarca kişi ile yatırım
      modelinin ülkenin piyasa şartlarına uygunluğu üzerinde görüş alış
      verişinde bulunulmuştur.
    </p>
    <p>
      Yapılan paydaş görüşmelerinde yalnızca belli profilden değil;
      banka ve finans kuruluşları, kamu kurumları, üniversiteler, diğer
      kalkınma ajansları, büyük enerji firmaları, enerji verimliliği
      danışman firmaları, STK’lar ve potansiyel yararlanıcılar olmak
      üzere geniş bir yelpazede sahanın gerçeklerine ulaşılmaya
      çalışılmıştır. Çalışmaların sonucunda GMKA uzmanlarının eliyle Türkiye’ye özgün
      Super Esco iş modeli tasarlanmıştır. GMKA, tasarladığı bu modelde
      kendisine ortak olacak Esco’lar (Enerji Hizmet Şirketi) ile
      birlikte Balıkesir ve Çanakkale illerinde faaliyet gösteren sanayi
      işletmelerine yatırım yapmaya hazırlanıyor.
    </p>
    <h4>Süreç Başlıyor</h4>
    <p>
      Bakanlık onayı alan modele göre önce Esco’lar ardından yatırımdan
      faydalanacak Balıkesir ve Çanakkale illerinde faaliyet gösteren
      sanayi işletmeleri belirlenecek. Mentorluk Programı’nda yaptığı
      gibi çift taraflı sözleşme yönetimini takip edecek olan GMKA,
      sürecin koordinasyonu için bilgi, doküman ve başvuru süreçlerine
      yardımcı olacak GMKA Enerji Verimliliği Faaliyetleri internet
      sitesini kamuoyunun hizmetine sunmuştur. Bu internet sitesi
      üzerinden bir yandan potansiyel Esco’larla iletişime geçecek, öte
      yandan Ajansın yapacağı yatırımlardan faydalanmak isteyen sanayi
      işletmelerini, gerekli hazırlıkları yapmaları için yönlendirecek.
      Bu fırsattan faydalanmak için:

      Ajansa yatırım ortağı olmak isteyen bir Esco firması ya da geçekleştirilecek yatırımın kendisine yapılmasını isteyen Yararlanıcı firma olma durumunuza göre ilgili iletişim formunu doldurunuz.
    </p>
  </div>       		
</div>