<div class="slide">
  <img src="assets/Esco-aday.jpg" alt="image-{{buttons[1].id}}" />
  <div class="slide-metin">
    <h5>
      Esco Adaylarımıza Yönelik Kaynak Çağrısı Çevrimiçi Bilgilendirme
      Toplantısı
    </h5>
    <p>
      GMKA’nın Enerji Verimliliği Yatırımına Yönelik 50 Milyon TL Finansmanı
      Onaylandı!
    </p>
    <p>
      Eylül ayının ilk haftasında planlanan bir lansmanda ilan edeceğimiz Kaynak
      Çağrısı öncesinde süreç yönetimi, teknik ve mali konulara ilişkin
      çevrimiçi bir toplantı gerçekleştirilecektir...
    </p>
    <a (click)="openModal2()">Devamını Oku</a>
  </div>
</div>