<div class="slide">
  <img src="assets/super-esco-haber.jpeg" alt="image-{{buttons[0].id}}" />
  <div class="slide-metin">
    <h5>Güney Marmara Enerji Verimliliğinde Rol Model Olacak</h5>
    <p>
      Güney Marmara Kalkınma Ajansı (GMKA) Balıkesir ve Çanakkale illerinde
      “Kaynak Verimliliği” teması kapsamında, enerji verimliliği konusunda
      kapasite geliştirmek isteyen firmalar için yatırıma yönelik büyük adımları
      atmaya başlıyor.
    </p>
    <p>
      GMKA, enerji verimliliği etütlerinin yaptırılması ile başladığı sürecin
      sürdürülebilirliğini sağlayacak, kamu-özel sektör işbirliğine dayanan ve
      özellikle gelişmekte olan ülkeler için önerilen “Super Esco” iş modelinin
      enerji verimliliği yatırımlarında kullanılmasının önünü açıyor...
    </p>
    <a (click)="openModal1()">Devamını Oku</a>
  </div>
</div>