.surec {
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 8px 2px rgba(20, 23, 28, .15);
    padding: 20px;
    width: 58.5vw;
}

.surec h1 {
    color: dimgray;
    margin-bottom: 20px;
    font-size: 26px;
}

.surec p {
    color: dimgray;
    margin-bottom: 20px;
    text-align: justify;
    line-height: 1.4;
}

.gallery-card-5 {
    width: 60%;
    height: auto;
    float: left;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 20px;
    margin-right: 20px;
    text-decoration: none;
    border: 1px solid black;
}

.gallery-card-5 img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    opacity: 0.8;
    transition: all 0.7s;
    object-fit: cover;
    margin-bottom: 10px;
}

.gallery-card-5:hover img {
    opacity: 1;
    transform: scale(0.97);
}

.gallery-card-5 p {
    color: black;
    font-size: 20px;
    text-align: center;
}

.gallery-card-5:hover p {
    color: crimson;
}

.link {
    text-decoration: none;
    color: black;
}

.link:visited {
    color: black;
}

.link:hover {
    color: crimson;
}

#kaynakVerLink,
#enerjiVerLink,
#superEscoLink,
#hedeflerimizLink2 {
    text-decoration: underline;
    color: blue;
}

#kaynakVerLink:hover,
#enerjiVerLink:hover,
#superEscoLink:hover,
#hedeflerimizLink2:hover {
    text-decoration:none;
    color:crimson;
}

@media only screen and (max-width: 1300px) {
    .surec {
        width: 58.35vw;
    }
}

@media only screen and (max-width: 1200px) {
    .surec {
        width: 58.2vw;
    }
}

@media only screen and (max-width: 1100px) {
    .surec {
        width: 58.05vw;
    }
}

@media only screen and (max-width: 1000px) {
    .surec {
        width: 57.9vw;
    }
}

@media only screen and (max-width: 900px) {
    .surec {
        width: 57.75vw;
    }
}

@media only screen and (max-width: 800px) {
    .gallery-card-5 {
        width: 100%;
    }

    .surec {
        width: 100%;
    }
}

@media only screen and (max-width: 505px) {
    .surec h1 {
        font-size: 20px;
    }

    .surec p {
        font-size: 14px;
    }
}

@media only screen and (max-width: 400px) {
    .surec {
        padding: 10px;
    }

    .surec h1 {
        font-size: 16px;
    }

    .surec p {
        font-size: 12px;
    }
}

@media only screen and (max-width: 300px) {
    .surec {
        padding: 7px;
    }

    .surec h1 {
        font-size: 13px;
    }
    
    .surec p {
        font-size: 10px;
    }

    .gallery-card-5 p {
        font-size: 9px;
    }
}

@media only screen and (max-width: 260px) {
    .surec {
        padding: 3px;
    }

    .surec h1 {
        font-size: 10px;
    }

    .surec p {
        font-size: 8px;
    }
}