<div id="enerjiHikayemiz" class="surec">
  <figure class="snip2">
    <img src="assets/hikayemiz-resim.jpg" alt="image-surec" />
    <figcaption>
      <h4>Enerji Verimliliği Hikayemiz</h4>
      <h4>ve</h4>
      <h4>TürkSEV Modelinin Ortaya Çıkışı</h4>
    </figcaption>
    <a
    href="assets/hikayemiz-resim.jpg"
    target="_blank">
    </a>
  </figure>
  <h1>TürkSEV Modeli Nedir?</h1>
  <p>
    Güney Marmara Kalkınma Ajansı (GMKA) tarafından geliştirilen
    <strong>Türkiye Sürdürülebilir Enerji Verimliliği (TürkSEV) Modeli</strong>,
    kısaca enerji verimliliği yatırımları sonucu elde edilen gelir ile önce yeni
    etütler yapıp potansiyel projeleri tespit eden sonrasında bunlar içerisinden
    yatırım yapılabilir niteliktekileri hayata geçirerek Yararlanıcısına mali
    yük oluşturmadan yatırımcısına yeni gelir sağlayan sürdürülebilir bir
    modeldir.
  </p>
  <p>
    İlk aşama olan etüt hazırlama maliyetleri “esnek ve özgün GMKA hibe modeli”
    ile ikinci aşama olan yatırım kısmı ise dünyada uygulama bulmuş “Super Esco
    iş modelinin” Türkiye şartlarına uyumlu tasarlanmış şekliyle
    gerçekleştirilir. Dolayısıyla TürkSEV = ETÜT + YATIRIM denklemini sağlayan
    iki ayrı modelin toplamıdır.
  </p>
  <p>
    Modelin ortaya çıkışı,
    <a
      class="link"
      href="https://www.sanayi.gov.tr/merkez-birimi/b94224510b7b/hakkimizda"
      target="_blank"
      >Sanayi ve Teknoloji Bakanlığı Kalkınma Ajansları Genel Müdürlüğü
      (KAGM)</a
    >
    koordinatörlüğünde 2020 yılı için belirlenen
    <a class="link" (click)="gotoTop()" [routerLink]="['/Hikayemiz/Kaynak-Verimliliği-Teması']" id="kaynakVerLink">Kaynak Verimliliği Teması</a>
    kapsamında Ajansın Balıkesir ve Çanakkale’ye (TR22 Güney Marmara Bölgesi)
    yönelik enerji verimliliği faaliyetleri ile başlamıştır.
  </p>
  <p>
    İklim değişikliği ve çevre konusunda uluslararası camiada değişen paradigma,
    ulusal politikalarımızı etkilemiş olup bu bağlamda önemli gelişmelerden
    birisi
    <a
      class="link"
      href="https://www.resmigazete.gov.tr/eskiler/2021/07/20210716-8.pdf"
      target="_blank"
      >16 Temmuz 2021 tarih ve 31543 sayılı resmi gazetede yayınlanan
      Cumhurbaşkanlığı Genelgesi</a
    >
    ile
    <a
      class="link"
      href="https://ticaret.gov.tr/data/60f1200013b876eb28421b23/MUTABAKAT%20YE%C5%9E%C4%B0L.pdf"
      target="_blank"
      >Ulusal Yeşil Mutabakat Eylem Planı</a
    >nın hayata geçirilmesi olmuştur. Genelge ile tüm kalkınma ajanslarının
    faaliyet gösterdikleri bölgelerde yeşil ve döngüsel ekonomi için kaynak
    verimliliği çalışmalarını 2021 IV. çeyreğinde başlatması beklenmiştir.
  </p>
  <p>
    GMKA, üretim miktar ve kalitesinde değişiklik olmadan tükettiği enerjiyi
    azaltarak hem girdi maliyetlerini hem de karbon salınımı düşüren enerji
    verimliliği ile Bölgesindeki sanayi işletmelerinin çevreye duyarlı rekabetçi
    üstünlüklerinin artırılması hedefine ulaşmadaki ilk adımı enerji verimliliği
    etütlerinin yaptırılması
    <a class="link" (click)="gotoTop()" [routerLink]="['/Hikayemiz/Enerji-Verimliliği-Mentorluk-Programı']" id="enerjiVerLink"
      >(ETÜT HAZIRLAMA (Enerji Verimliliği Mentorluk Programı) sayfası için
      tıklayınız.)</a
    >
    olmuştur. Bunun için 2021 yılı sonunda ilan ettiği Enerji Verimliliği
    Mentorlük Programı kapsamında verdiği hibe desteği ile programdan faydalanan
    sanayi işletmelerinin detaylı enerji verimliği etütleri Ağustos 2022 –
    Ağustos 2023 döneminde hazırlanmıştır.
  </p>
  <p>
    GMKA’nın enerji verimliliği konusunda etütlerin yanında yaptığı diğer önemli
    çalışmalar yatırımlar
    <a class="link" (click)="gotoTop()" [routerLink]="['/Hikayemiz/Super-Esco-Yatırım']" id="superEscoLink"
      >YATIRIM (Super Esco İş Modeli) sayfası için tıklayınız.</a
    >
    üzerine olmuştur. Bölge sanayi işletmeleri enerji verimliliği yatırımları
    için GMKA iki önemli avantaj sağlamıştır. Bunlardan ilki,
    <a class="link" href="https://enerji.gov.tr/evced" target="_blank"
      >Enerji ve Tabii Kaynaklar Bakanlığı Enerji ve Çevre Dairesi Başkanlığı
      (EVÇED)</a
    >
    ile geliştirdiği işbirliğidir. EVÇED, her yıl ilan ettiği
    <a
      class="link"
      href="https://enerji.gov.tr/evced-enerji-verimliligi-destekleri-verimlilik-artirici-proje-destekleri"
      target="_blank"
      >Verimlilik Artırıcı Proje (VAP)</a
    >
    programına 2023 yılında ara vermesine rağmen, yalnızca Enerji Verimliliği
    Mentorlük Programı’ndan faydalanarak etütlerini yaptıran sanayi
    işletmelerinin VAP başvurularını kabul etmiştir. Sağlanan işbirliği ile
    EVÇED’in ulusal düzeyde yürüttüğü VAP programı, 2023 yılında TR22 Güney
    Marmara Bölgesi sanayi işletmeleri için bölgesel düzeyde yürüttüğü bir
    program niteliği kazanmıştır. GMKA’nın enerji verimliliği yatırımları için
    sağladığı diğer avantaj, KAGM’nin Şubat’22 de kalkınma ajanslarına kâr
    hedefi güden pilot program ve yatırımları geliştirme yönündeki inisiyatifi
    ile ortaya çıkmıştır. GMKA, söz konusu inisiyatife yönelik Enerji
    Verimliliği Yatırım Olanakları Araştırmasıyla, Türkiye’de uygulanma imkânı
    bulamamış ancak dünyada hızla artan ve kamu-özel sektör işbirliğine dayanan
    ve özellikle gelişmekte olan ülkeler için önerilen Super Esco iş modelinin
    enerji verimliliği yatırımlarında en etkin araç olduğu sonucuna
    ulaşılmıştır. Yaptığı saha çalışmaları ve geliştirdiği kapasite ile
    Türkiye’ye özgün modelin tasarımını 2023 yılında tamamlamıştır. Model ile
    mikro (firma), ajans (mezo) ve makro (ulusal) düzeyde
    <a class="link" (click)="gotoTop()" [routerLink]="['/Hedefimiz/Hedeflerimiz']" id="hedeflerimizLink2">hedefler</a> gözetilmiştir.
    Firmalar için bir yandan sürdürülebilir rekabetçi üstünlüklerinde artışı öte
    yandan zorlaşan likiditeye erişimlerini kolaylaştırmaktadır. Modelin
    öngördüğü finans döngüsü, Ajansa yeni yatırım projelerini geliştirilme,
    harcama performansını artırma ve daha odaklı faaliyetlerde bulunabilmeyi
    mümkün kılmaktadır. Pilot bir uygulama olarak ilk etapta Balıkesir ve
    Çanakkale illerinde hayat bulacak modelin belirli bir başarıyı yakalaması
    halinde diğer kalkınma ajansları da yaygınlaştırılması sayesinde sera gazı
    salınımı azalması, su tüketimi azalması, enerji arz güvenliğinin artması ve
    mali kaynakların sonuç odaklı kullanımı gibi ulusal düzeydeki hedeflere
    katkı sağlayacaktır. Ajansın Super Esco fonksiyonunu yerine getirdiği model,
    2023 yılında başlayarak iki aşamalı olarak planlanmıştır. Kaynak Çağrısı
    ilanı ile başlayan ilk aşama, Ajansa hem yatırım ortağı hem de modelin
    teknik süreçlerini yürütecek aktör olan Esco’ların belirlenmesidir. Enerji
    Verimliliği Yatırım Programının ilanı ile başlayan ikinci aşama ise enerji
    verimliliği yatırımı yapılacak Bölge sanayi işletmelerinin belirlenmesidir.
  </p>
  <p>
    Türkiye’de kurulan kalkınma ajansları, gerçekleştirdikleri faaliyetler ile
    bölgelerinin sürdürebilir kalkınmasını sağlamaya çalışır. Bunun yanında
    faaliyetlerini gerçekleştirme biçiminde/metodolojisinde de mümkün olduğu
    ölçüde sürdürülebilir süreçleri dikkate alır. GMKA, Enerji Verimliliği
    Yatırım Programı’ndan yatırım desteği alacaklar için Enerji Verimliliği
    Mentorlük Programı’ndan hibe desteği alanlara öncelik vererek söz konusu
    sürdürülebilirliği kurumsal düzeyde sağlamaya çalışmıştır.
  </p>
</div>
